<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <title>.reele - digging up</title>
    <link rel="icon" type="image/x-icon" href="../assets/reele_min_logo.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main-style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/fav.css">
    <link rel="stylesheet" href="../css/reeleItem.css">
    <script src="../js/jquery-3.7.1.js"></script>
</head>

<body>

    <header id="headbar">
        <div id="navbar">
            <div id="logoContainer">
                <div id="logo" title="Home..."></div>
                <div id="title" title="About reele..."></div>
            </div>
            <div class="srchbarbx">
                <i class="fa-srch-gray"></i>
                <input class="srchinp" type="text" placeholder="Search...">
            </div>
            <div id="userinfobx">
                {{#if exist}}<div class="clubicon" title="Manage a club(s)..."></div>{{/if}}
                <div class="dropdown">
                    <div class="usermenu">
                        {{#if exist}}<div class="usericon"
                            style='background-image: url("http://localhost:8000/u/profiles/picture/{{data.username}}")'
                            title="{{data.username}}"></div>
                        {{else}}
                        <div class="usericon" style='background-image: url("../assets/plus_user.webp")'
                            title="Your choice..."></div>
                        {{/if}}
                        <div class="arrbx">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 800 200">
                                <path class="stg1" d="M425.7,425.7L789.4,62.1c14.2-14.2,14.2-37.2,0-51.4c-14.2-14.2-37.2-14.2-51.4,0L400,348.6
	                L62.1,10.7c-14.2-14.2-37.2-14.2-51.4,0C3.5,17.8,0,27.1,0,36.4S3.5,55,10.6,62.1l363.7,363.6c6.8,6.8,16.1,10.7,25.7,10.7
	                C409.6,436.4,418.9,432.5,425.7,425.7z" />
                            </svg>
                        </div>
                    </div>
                    {{#if exist}}
                    <div class="two-dropdown-content">
                        <a id="list-profile" class="list-item">
                            <p>{{data.username}}</p> <i class="fa-settings"></i>
                        </a>
                        <a id="list-club" class="list-item">
                            <p>Manage club(s)</p> <i class="fa-club"></i>
                        </a>
                        <a id="list-logout" class="list-item">
                            <p>Log out</p> <i class="fa-logout"></i>
                        </a>
                    </div>
                    {{else}}
                    <div class="two-dropdown-content">
                        <a id="list-signup" class="list-item">
                            <p>Sign up</p> <i class="fa-regist"></i>
                        </a>
                        <a id="list-login" class="list-item">
                            <p>Log in</p> <i class="fa-login"></i>
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div id="selectbar" class="shrink-v-element">
            <div class="select-content">
                <div id="srchfor" class="invisible">
                    <label for="">For:</label>
                </div>
                <div class="selectbtgroup invisible">
                    <button class="selectbt shadow-bottom">
                        <p>reele</p>
                    </button>
                    <button class="selectbt shadow-bottom">
                        <p>user</p>
                    </button>
                    <button class="selectbt shadow-bottom">
                        <p>club</p>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div id="hPadding">
        <div id="genre_bar">
            <div id="classic" class="genre_item">
                <div class="genre_pro">
                    <label>classic</label>
                </div>
            </div>
            <div id="action" class="genre_item">
                <div class="genre_pro">
                    <label>action</label>
                </div>
            </div>
            <div id="comedy" class="genre_item">
                <div class="genre_pro">
                    <label>comedy</label>
                </div>
            </div>
            <div id="crime" class="genre_item">
                <div class="genre_pro">
                    <label>crime</label>
                </div>
            </div>
            <div id="drama" class="genre_item">
                <div class="genre_pro">
                    <label>drama</label>
                </div>
            </div>
            <div id="sci-fi" class="genre_item">
                <div class="genre_pro">
                    <label>sci-fi</label>
                </div>
            </div>
            <div id="western" class="genre_item">
                <div class="genre_pro">
                    <label>western</label>
                </div>
            </div>
            <div id="teaching" class="genre_item">
                <div class="genre_pro">
                    <label>teaching</label>
                </div>
            </div>
            <div id="nature" class="genre_item">
                <div class="genre_pro">
                    <label>nature</label>
                </div>
            </div>
        </div>
    </div>

    <main id="container">
        <div id="left-sidebar-bx" class="sidebar-bx">
            <div id="left-slide-bx" class="slide-bx">
                <div id="left-slide" class="slide">
                    <div id="l-side-ind" class="side-indicator-bx">
                        <div class="side-ind-bx">
                            <div class="side-icon-h-bx club-icon"></div>
                            <p class="side-ind-tit horizontal-base">Clubs</p>
                        </div>
                        <p id="l-side-ind-titl" class="vertical-base side-ind-tit reverse">Clubs</p>
                    </div>

                    <div class="slide-content-l">
                        <div class="slide-row">
                            <div class="srchbarbx">
                                <input class="srchinp" type="text" placeholder="Search...">
                                <button class="srchbt"></button>
                            </div>
                        </div>
                        <div class="slide-content-s">
                            <div class="slider-content-header">
                                <div class="slider-content-title-bx">
                                    <div class="side-icon-bx club-icon-gray"></div>
                                    <p class="side-ind-tit">Joined</p>
                                </div>
                            </div>
                            <span class="line-vertical-b"></span>
                            <div id="joined-clubs" class="clubs-disp-bx"></div>
                        </div>
                        <div class="slide-content-s">
                            <div class="slider-content-header">
                                <div class="slider-content-title-bx">
                                    <p class="side-ind-tit">Top 5</p>
                                    <div class="side-icon-bx club-icon-gray"></div>
                                </div>
                            </div>
                            <span class="line-vertical-b"></span>
                            <div id="top5-clubs" class="clubs-disp-bx"></div>
                        </div>
                    </div>
                </div>
                <i class="fa-knob-l"></i>
            </div>
        </div>

        <div id="slider-content">
            <div id="slider_header">
                <div id="clubinfBX">
                    <div id="bannerbx"
                        style='background-image: url("../assets/reele_digging_up_m.webp"); filter: blur(0px);'></div>
                </div>
                <div class="dropdown_ordering">
                    <button class="orderingBT">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 800 200">
                            <path class="stg1" d="M425.7,425.7L789.4,62.1c14.2-14.2,14.2-37.2,0-51.4c-14.2-14.2-37.2-14.2-51.4,0L400,348.6
	                L62.1,10.7c-14.2-14.2-37.2-14.2-51.4,0C3.5,17.8,0,27.1,0,36.4S3.5,55,10.6,62.1l363.7,363.6c6.8,6.8,16.1,10.7,25.7,10.7
	                C409.6,436.4,418.9,432.5,425.7,425.7z" />
                        </svg>
                    </button>
                    <div class="ordering_content">
                        <div>New</div>
                        <div>Old</div>
                        <div>Most reeled</div>
                    </div>
                </div>
            </div>
            <div id="slider_body"></div>
        </div>

        <div id="right-sidebar-bx" class="sidebar-bx">
            <div id="right-slide-bx" class="slide-bx">
                <i class="fa-knob-r"></i>
                <div id="right-slide" class="slide">
                    <div id="r-side-ind" class="side-indicator-bx">
                        <p id="r-side-ind-titl" class="vertical-base side-ind-tit">Your</p>
                        <div class="side-ind-bx">
                            <p class="side-ind-tit horizontal-base">Your</p>
                            <div class="side-icon-h-bx reele-icon"></div>
                        </div>
                    </div>

                    <div class="slide-content-r">
                        <div class="slide-row">
                            <div class="srchbarbx">
                                <input class="srchinp" type="text" placeholder="Search...">
                                <button class="srchbt"></button>
                            </div>
                        </div>
                        <div id="yourreeles" class="slide-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="fPadding"></div>
    <footer class="reele_footer-sidebar">
        <div id="sidebar-bt-bx-l" class="sidebar-bt-row">
            <div class="sidebar-bt-bx">
                <button id="left-side-bt" class="side-bt">
                    <img class="side-bt-icon" src="../assets/club-icon.svg" alt="">
                    <img id="left-side-icon-a" class="side-bt-icon-a" src="../assets/club-icon-a.svg" alt="">
                </button>
            </div>
        </div>
        <div class="footbar">
            <i class="fa-knob-mini"></i>
            <div class="footbar-content"></div>
        </div>
        <div id="sidebar-bt-bx-r" class="sidebar-bt-row">
            <div id="right-side-bt" class="sidebar-bt-bx">
                <button id="right-side-bt" class="side-bt">
                    <img class="side-bt-icon" src="../assets/reele-icon.svg" alt="">
                    <img id="right-side-icon-a" class="side-bt-icon-a" src="../assets/reele-icon-a.svg" alt="">
                </button>
            </div>
        </div>
    </footer>

    {{#if exist}}
    <script src="../mini-router/hLog.js"></script>
    <script src="../mini-router/makeClub.js"></script>
    {{else}}
    <script src="../mini-router/reglog.js"></script>{{/if}}
    <script src="../js/sidebarMech.js"></script>
    <script src="../js/onscroll.js"></script>
    <script src="../js/searchbarMech.js"></script>
    <script src="../js/postGenerator.js"></script>
    <script src="../js/mreeleGenerator.js"></script>
    <script src="../js/clubLineGenerator.js"></script>
    <script src="../js/genremech.js"></script>
    <script src="../mini-router/postGetH.js"></script>
    <script src="../mini-router/redirect.js"></script>
    <script src="../mini-router/routescript.js"></script>
    <script src="../mini-router/reeleInteract.js"></script>
    <script src="../mini-router/clubGet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>